.c-hero
  .c-container
    .c-hero__content
      .c-hero-title__group
        .c-hero-title__group__inner
          h1.c-hero__text.c-hero__title Daisuke KONISHI
          p.c-hero__text.c-hero__desc Web Engineer
  a.c-hero__arrow(href="#j-scroll-first")
    .c-hero__arrow__icon
