.c-container.c-container--small
  .c-info
    .c-info__fig
      .c-img
        img(src=`${image_path}profile.jpg`, alt="")
    .c-info__contents
      header.c-info__contents__header
        h1.c-ttl.c-ttl--en #{title}
        p.c-ttl.c-ttl--jp.c-ttl--sub マークアップエンジニア
      .c-info__contents__body
        p.c-lead
          | 京都出身、京都在住のマークアップエンジニア。<br>
          | 業務ではマークアップは勿論、JavaScriptやPHP、WordPressなどを用いてサイトの実装を行っています。<br>
          | プライベートでPythonやDockerなどサーバーサイドの勉強もしています。
      footer.c-info__contents__footer
        .c-links
          ul.c-links__list
            li.c-links__list__item
              a(href="https://twitter.com/skd_nw", target="_blank")
                i.fa.fa-twitter
            li.c-links__list__item
              a(href="https://github.com/d-kusk", target="_blank")
                i.fa.fa-github
            li.c-links__list__item
              a(href="https://blog.daisukekonishi.com", target="_blank")
                i.fa.fa-pencil
