section.c-sec
  .c-container.c-container--small
    .p-more
      header.c-sec__header.p-more__header
        h2.c-ttl.c-ttl--centered.c-ttl--en More
      .c-sec__body.p-more__body
        .c-links
          ul.c-links__list
            li.c-links__list__item
              a(href="https://twitter.com/skd_nw", target="_blank") Twitter
            li.c-links__list__item
              a(href="https://github.com/d-kusk", target="_blank") Github
            li.c-links__list__item
              a(href="https://blog.daisukekonishi.com", target="_blank") Blog
            li.c-links__list__item
              a(href="https://speakerdeck.com/dkonishi", target="_blank") SpeakerDeck
