section.c-sec.c-sec--bg-accent.p-work
  .c-container.c-container--medium
    header.c-sec__header
      h2.c-ttl.c-ttl--centered.c-ttl--en.c-ttl--white Activity &amp; Works
    .c-sec__body
      .c-work-list
        .c-work-list__item
          a.c-work-detail(href="https://github.com/d-kusk/hugo-gentoo-theme", target="_blank")
            .c-bg-img.c-work-detail__header(style=`background-image: url(${image_path}img-hugo-gentoo-theme.png)`)
            .c-work-detail__body
              p.c-work-detail__title hugo-gentoo-theme
              p.c-work-detail__desc Hugoのテーマ。JSON-LDやGoogle Analyticsのコード生成が出来るのが特徴。
        .c-work-list__item
          a.c-work-detail(href="https://github.com/d-kusk/minimage", target="_blank")
            .c-bg-img.c-work-detail__header(style=`background-image: url(${image_path}img-hugo-minimage.png)`)
            .c-work-detail__body
              p.c-work-detail__title minimage
              p.c-work-detail__desc Hugoのテーマ。サムネイルやグローバルナビなどの設定が可能。
        .c-work-list__item
          a.c-work-detail(href="https://mealselect.daisukekonishi.com", target="_blank")
            .c-bg-img.c-work-detail__header(style=`background-image: url(${image_path}mealselect.png)`)
            .c-work-detail__body
              p.c-work-detail__title MealSelect
              p.c-work-detail__desc 「今日のごはんどうしよう」を考える手助けをしてくれるレコメンドアプリ
