section.c-sec.c-sec--bg-accent.p-work
  .c-container.c-container--medium
    header.c-sec__header
      h2.c-ttl.c-ttl--centered.c-ttl--en.c-ttl--white Activity &amp; Works
    .c-sec__body
      .c-work-list
        .c-work-list__item
          a.c-work-detail(href="https://github.com/d-kusk/hugo-gentoo-theme", target="_blank")
            .c-bg-img.c-work-detail__header(style=`background-image: url(${image_path}img-hugo-gentoo-theme.png)`)
            .c-work-detail__body
              p.c-work-detail__title hugo-gentoo-theme
              p.c-work-detail__desc Static Site GeneraterであるHugoのテーマ
        .c-work-list__item
          a.c-work-detail(href="https://github.com/d-kusk/mat", target="_blank")
            .c-bg-img.c-work-detail__header(style=`background-image: url(${image_path}img-mat.jpg)`)
            .c-work-detail__body
              p.c-work-detail__title mat
              p.c-work-detail__desc ES nextやSassのコンパイル環境を含んだサイトやWebシステムのViewを作るボイラープレート
