.c-bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  &::after {
    display: block;
    content: '';
    padding-top: percentage(150px / 245px);
  }
}
