.c-career {
  @extend %list-reset;
  margin: 0;

  @include mq(md) {
    margin-top: $base-margin;
  }

  &__item {
    & + & {
      margin-top: $base-margin - 10px;
    }

    time,
    span {
      @include font-en;
    }

    time {
      font-weight: 600;
    }

    span {
      color: $color-font-grey;
    }
  }
}
