.c-container {
  max-width: $document-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @include mq(sm) {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &--small {
    max-width: $document-width--small;

    @include mq(md) {
      max-width: percentage(724px / 768px);
      padding-left: percentage(40px / 768px);
      padding-right: percentage(40px / 768px);
    }

    @include mq(sm) {
      padding-left: percentage(15px / 375px);;
      padding-right: percentage(15px / 375px);;
    }
  }
}
