.c-hero {
  position: relative;
  width: 100%;
  height: 100%;
  @extend %gradient;

  @include mq(md) {
    height: 95%;
  }

  @include mq(sm) {
    height: 85%;
  }

  &__content {
    width: 100%;
    height: 100%;
  }

  .c-container {
    height: 100%;
  }

  &__title,
  &__desc {
    @include font-en;
    color: #ffffff;
  }

  &__title {
    font-size: 2.6rem;

    @include mq(sm) {
      font-size: 1.8rem;
    }
  }

  &__desc {
    font-size: 1.2rem;

    @include mq(sm) {
      font-size: 1rem;
    }
  }
}

.c-hero-title__group {
  display: table;
  width: 100%;
  height: 100%;

  &__inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.c-hero__arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 30px;

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    animation: bounce 0.7s infinite alternate;
  }

  @keyframes bounce {
    from {
      transform: translateY(0px) rotate(45deg);
    }
    to {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}
