.c-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;

  @include mq(sm) {
    flex-direction: column;
  }

  &__fig {
    width: percentage(200px / 1024px);

    @include mq(md) {
      width: percentage(300px / $document-width--small);
    }

    @include mq(sm) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__contents {
    width: percentage(794px / 1024px);
    margin-left: $base-margin;

    @include mq(md) {
      width: percentage(428px / $document-width--small);
      margin-left: percentage(40px / $document-width--small);
    }

    @include mq(sm) {
      width: 100%;
      margin-top: 10%;
      margin-left: auto;
    }
  }

  &__contents__header {
    .c-ttl {
      line-height: 1;
    }

    .c-info__ttl {
      color: $color-primary;
    }

    .c-ttl--sub {
      margin-top: 0.6em;
    }
  }

  &__contents__body {
    display: flex;
    align-self: flex-start;
    margin-top: $base-margin - 10px;

    @include mq(md) {
      display: block;
    }
  }

  &__contents__detail,
  &__contents__career {
    width: 48%;

    @include mq(md) {
      width: 100%;
    }
  }

  &__contents__detail {
    .c-lead {
      font-size: 0.9rem;
    }
  }

  &__contents__career {
    margin-left: 4%;

    @include mq(md) {
      margin-left: 0;
    }
  }
}
