.c-links {
  &__list {
    text-align: left;
    padding: 0;
    margin: 0;

    &__item {
      display: inline-block;

      & + & {
        margin-left: percentage(16px / 428px);

        @include mq('sm') {
          margin-left: percentage(18px / 320px);
        }
      }

      a {
        text-decoration: none;
        @include font-en();
        font-size: 1.1rem;
        color: $color-font-base;
        transition: 0.2s $ease-out-quart 0s;

        &:hover {
          color: lighten($color-font-base, 40%);
        }

        @include mq('sm') {
          font-size: 1rem;
        }
      }
    }
  }
}
