.c-links {
  margin-top: 20px;

  &__list {
    text-align: left;
    padding: 0;
    margin: 0;

    &__item {
      display: inline-block;

      & + & {
        margin-left: 2%;
      }

      a {
        font-size: 1.2rem;
        color: $color-font-base;
      }
    }
  }
}
