.c-ttl {
  margin: 0;
  font-size: 24px;
  color: $color-primary;

  &--sub {
    font-size: 16px;
    color: $color-font-grey;
  }

  &--jp {
    @include font-jp;
  }

  &--en {
    @include font-en;
  }

  &--white {
    color: #ffffff;
  }

  &--centered {
    text-align: center;
  }
}
