.c-work-detail {
  text-decoration: none;

  &__header {}

  &__body {
    padding: 18px 14px;
  }

  &__title {
    font-size: 1.2rem;
    color: $color-font-base;
  }

  &__desc {
    margin-top: 0.6rem;
    color: $color-font-grey;
  }
}
