%list-reset {
  list-style-type: none;
  padding-left: 0;
}

%gradient {
  background: rgba(41,171,226,1);
  background: linear-gradient(45deg,
                            rgba(41,171,226,1) 0%,
                            rgba(25,129,214,1) 100%);
}
