.l-global-footer {
  width: 100%;
  @extend %gradient;
  margin-top: $base-margin * 2;
  padding: 1em 0 4em;

  @include mq('sm') {
    margin-top: $base-margin / 1.4;
  }

  .c-copy {
    text-align: center;
    color: #e7e7e7;
  }
}
